.light-switch-button {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.light-switch-button.is-on {
  background-color: green;
}

.lightbulb-img {
  height: 300px;
  display: block;
  margin: auto;
}